.main-containter {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.form-containter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-div {
    margin-top: 25px;
}